@font-face {
  font-family: "Aestetico";
  src: url("./fonts/aestetico.woff2") format("woff2"),
    url("./fonts/aestetico.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Aestetico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #191524;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
